<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

   <body>
      <div class="container">
         <div class="mb-3 mt-5 d-flex justify-content-between">
            <a href="/feed">
               <button type="button" class="btn btn-success">Back</button>
            </a>
            <h1>Welcome To Facebook</h1>
         </div>
         <div class="card">
            <div class="card-body">
               <h5 class="card-title name">
                  <%= feed.name %>
               </h5>
               <p class="time">
                  <%= feed.updatedAt %>
               </p>
               <p class="card-text">
                  <%= feed.message %>
               </p>
               <a href="/feed/edit/<%= feed._id %>" class="card-link">Edit Post</a>
               <a href="/delete/<%= feed._id %>" class="card-link">Delete</a>
            </div>
         </div>
         <%- include('./partials/footer.ejs') %>
      </div>
   </body>

   </html>