<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

   <body>
      <%- include('./partials/navbar.ejs') %>
         <div class="container">
            <div class="mt-5 d-flexjustify-content-between align-items-end">
               <h1>Welcome To Thoughts</h1>
               <a href="/post">
                  <h2>Add a post</h2>
               </a>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <ul class="list-group mt-2">
                  <% feeds.forEach((feed)=> {%>
                     <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 w-100">
                           <div class="d-flex justify-content-between">
                              <div>
                                 <div class="d-flex align-items-center gap-2 mb-2">
                                    <div class="userPicture">
                                       <img src="/pictures/profile-img-placeholder.png" alt="ptofile photo" width="50"
                                          height="50">
                                    </div>
                                    <div class="fw-bold name">
                                       <%= feed.user.name %>
                                    </div>
                                 </div>
                                 <p class="time">
                                    <%= feed.created_time %>
                                       <br>
                                       <%= feed.created_date %>
                                 </p>
                              </div>
                              <a href="/feed/<%= feed._id %>">
                                 <button type="button" style="width: 180px;" class="btn bg-success-subtle">See More</button>
                              </a>
                           </div>
                           <p class="fw-bold fs-5">
                              <%= feed.title %>
                           </p>
                           <p class="fs-5">
                              <% if(feed.message.length > 150) { %>
                              <%= feed.message.slice(0, 150) %>...
                              <% } else {  %>
                              <%= feed.message %>
                              <% } %>
                           </p>
                        </div>

                        
                     </li>
                     <% }) %>
               </ul>
            </div>
         </div>

         <%- include('./partials/footer.ejs') %>

         <script src="/script.js"></script>
   </body>

   </html>