<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

<body> 
   <%- include('./partials/navbar.ejs') %>
   <div class="container">
      <div class="mt-5 d-flexjustify-content-between align-items-end">
      <h1>Welcome To Thoughts</h1>
      <a href="/post"><h2>Add a post</h2></a>
      </div>
   </div>
   <div class="container">
      <div class="row">
            <ul class="list-group mt-2">
               <% feeds.forEach((feed)=> {%>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold name">
                           <%= feed.user.name %>
                        </div>
                        <p class="time">
                           <%= feed.created_time %>
                           <br>
                           <%= feed.created_date %>
                        </p>
                       <p class="fw-bold" > <%= feed.title %></p>
                       <p> <%= feed.message %></p>
                     </div>

                     <a href="/feed/<%= feed._id %>">
                        <button type="button" style="width: 180px;" class="btn bg-success-subtle">See More</button>
                     </a>
                  </li>
                  <% }) %>
            </ul>
      </div>
   </div>
   
   <%- include('./partials/footer.ejs') %>

<script src="/script.js"></script>
</body>
</html>